<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<%= image_tag @article.image.url %>
<%= image_tag @article.image.url(:medium) %>
<%= image_tag @article.image.url(:thumb) %>

<%= link_to 'Edit', edit_game_article_path(@game,@article) %> |
<%= link_to 'Back', game_articles_path %>
