<div class="heading gradient-heading">
  <h1>Topics</h1>
</div>

<% @topics.each do |topic| %>
  <div class="entry">
    <div class="entry-name">
      <strong><%=link_to topic.name, topic %></strong>
    </div>
    <div class="entry-content">
    </div>
    <div class="entry-controls">

      <% if user_signed_in? and current_user.is_subscribed?(topic) %>
        <%= link_to unsubscribe_to_topic_path(topic), method: :delete do %>
          <div class="btn btn-danger">
            <i class='icon-minus icon-white'></i>Remove
          </div>
        <% end %>
      <% end %>

      <% if user_signed_in? and not current_user.is_subscribed?(topic) %>
        <%= link_to subscribe_to_topic_path(topic), method: :post do %>
          <div class="btn btn-primary">
            <i class='icon-plus icon-white'></i>Add
          </div>
        <% end %>
      <% end %>

      <% if can? :manage, topic %>
        <%= link_to 'Destroy', topic, method: :delete, :class => "btn btn-danger" %>
        <%= link_to 'Edit',    edit_topic_path(topic),  :class => "btn btn-primary" %>
      <% end %>

    </div>
  </div>
<% end %>

<% if can? :create, @topic %>
  <%= link_to 'New topic', new_topic_path, :class => "btn btn-primary pull-right" %>
<% end %>

<% content_for :side_bar do %>
  <div class="heading gradient-heading">
    <h3>Your topics</h3>
  </div>
  <div class="side-content">
  <% if user_signed_in? %>
    <% current_user.topics.each do |topic| %>
      <%= topic.name %><br>
    <% end %>
  </div>
  <% end %>
<% end %>