<p id="notice"><%= notice %></p>

<h3><%= @topic.name %></h3>

<p>
<%= image_tag @topic.get_image %>
</p>

<% if can? :manage, @topic %>
  <br>
  <% @topic.articles.each do |article| %>
    <div class="entry">
      <div class="entry-image">
        <%=image_tag article.get_image %>
      </div>
      <div class="entry-name">
        <%= article.name %>
      </div>
      <div class="entry-content">
        <%= article.content %>
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to 'New Article', new_topic_article_path(@topic), :class => "btn btn-primary" %> 
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
