<p id="notice"><%= notice %></p>

<h3><%= @topic.name %></h3>

<p>
<%= image_tag @topic.get_image %>
</p>

<% if can? :manage, @topic %>
  <br>
  <%= render partial: "shared/article", collection: @topic.articles %>
<% end %>

<%= link_to 'New Article', new_topic_article_path(@topic), :class => "btn btn-primary" %> 
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
