<div class="entry row">

  <div class="article-name" class="">
    <h3><%= article.name %></h3>
  </div>

  <div class="article-content row">
    <div class="small-2 columns">
      <% if article.image.url != "/images/original/missing.png" %>
        <%= image_tag article.image.url(:medium) %>
      <% else %>
        <%= image_tag article.topic.image.url(:medium) %>
      <% end %>
    </div>
    <div class="small-10 columns">
      <%= article.content %>
    </div>
  </div>

  <div class="article-controls">
    <% if can? :manage, article %>
      <%= link_to 'Edit', edit_topic_article_path(article.topic,article) %>
    <% end %>
  </div>

</div>