<div class="entry row-fluid">

  <div class="entry-name row-fluid">
    <div id="article-game" class="span2 flair-left">
      <%= article.game.name %>
    </div>
    <div id="article-name" class="span8">
      <h3><%= article.name %></h3>
    </div>
    <div id="article-source-icon" class="span1 flair-right">
      Icon
    </div>
  </div>
  <div class="entry-content row-fluid">
    <div id="article-image" class="span2 img-rounded">
      <% if article.image.url != "/images/original/missing.png" %>
        <%= image_tag article.image.url %>
      <% else %>
        <%= image_tag article.game.image.url %>
      <% end %>
    </div>
    <div id="article-content" class="span10">
      <%= article.content %>
    </div>
  </div>
  <div class="entry-controls">
    <%= link_to 'Edit', edit_game_article_path(article.game,article) %>
  </div>
</div>