<div class="entry row-fluid">

  <div class="entry-name row-fluid">
    <div id="article-topic" class="span2 flair-left">
      <%= article.topic.name %>
    </div>
    <div id="article-name" class="span8">
      <h3><%= article.name %></h3>
    </div>
    <div id="article-source-icon" class="span1 flair-right">
      Icon
    </div>
  </div>
  <div class="entry-content row-fluid">
    <div id="article-image" class="span2 img-rounded">
      <% if article.get_image %>
        <%= image_tag article.get_image %>
      <% else %>
        <%= image_tag article.topic.get_image %>
      <% end %>
    </div>
    <div id="article-content" class="span10">
      <%= article.content %>
    </div>
  </div>
  <div class="entry-controls">
    <% if can? :manage, article %>
      <%= link_to 'Edit', edit_topic_article_path(article.topic,article) %>
    <% end %>
  </div>
</div>