<div class="entry row">

  <div class="entry-name row">
    <div id="article-topic" class="flair-left">
      <%= article.topic.name %>
    </div>
    <div id="article-name" class="">
      <h3><%= article.name %></h3>
    </div>
    <div id="article-source-icon" class="flair-right">
      Icon
    </div>
  </div>
  <div class="entry-content row">
    <div id="article-image" class="img-rounded">
      <% if article.image.url != "/images/original/missing.png" %>
        <%= image_tag article.image.url %>
      <% else %>
        <%= image_tag article.topic.image.url %>
      <% end %>
    </div>
    <div id="article-content" class="">
      <%= article.content %>
    </div>
  </div>
  <div class="entry-controls">
    <% if can? :manage, article %>
      <%= link_to 'Edit', edit_topic_article_path(article.topic,article) %>
    <% end %>
  </div>
</div>