
<div class="heading gradient-heading">
  <h1>News Feed</h1>
</div>

<% if user_signed_in? %>
  <% @articles.each do |article| %> <!-- Move this "Article display" to a partial? -->
    <%= article.name %><hr>
    <%= article.game.name %><br>
    <%= article.content %><br>
  <% end %>
<% else %>
  <%= render partial: "shared/article", collection: @articles %>
<% end %>

<% content_for :side_bar do %>
  <div class="heading gradient-heading">
    <h4> User Information </h4>
  </div>
  <% if user_signed_in? %>
		<%= current_user.email %><br>
	<% else %>
		<strong> Sign In to enhance your experince </strong>
	<% end %>
<% end %>