<div id="games-listing">
  <h1>Games</h1>
</div>

<% @games.each do |game| %>
  <div class="entry">
    <strong><%= game.name %></strong>
    <div class="list-controls">

        <%= link_to 'Destroy', game, method: :delete, :class => "btn btn-danger pull-right" %>
        <%= link_to 'Edit', edit_game_path(game), :class => "btn btn-primary pull-right" %>
        <%= link_to 'Show', game, :class => "btn btn-primary pull-right" %>
    </div>
  </div>
  <br>
<% end %>

<% if current_user.role == Role.admin %>
   <%= link_to 'New Game', new_game_path, :class => "btn btn-primary pull-right" %>
  <% else %>
    <strong> lol u not admin</strong>
<% end %>