
<div class="heading gradient-heading">
  <h1>Games</h1>
</div>

<% @games.each do |game| %>
  <div class="entry">
    <div class="entry-name">
      <strong><%=link_to game.name, game %></strong>
    </div>
    <div class="entry-content">
    </div>
    <div class="entry-controls">
      <% if user_signed_in? and current_user.is_subscribed?(game) %>
        <%= link_to unsubscribe_to_game_path(game), method: :delete do %>
          <div class="btn btn-danger">
            <i class='icon-minus icon-white'></i>Remove
          </div>
        <% end %>
      <% else %>
        <%= link_to subscribe_to_game_path(game), method: :post do %>
          <div class="btn btn-primary">
            <i class='icon-plus icon-white'></i>Add
          </div>
        <% end %>
      <% end %>
      <% if can? :manage, game %>
        <%= link_to 'Destroy', game, method: :delete, :class => "btn btn-danger" %>
        <%= link_to 'Edit',    edit_game_path(game),  :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>

<% if can? :create, Game %>
  <%= link_to 'New Game', new_game_path, :class => "btn btn-primary pull-right" %>
<% end %>

<% content_for :side_bar do %>
  <div class="heading gradient-heading">
    <% if user_signed_in? %>
      <h3>Your Games</h3>
    <% end %>
  </div>
  <div class="side-content">
    <% current_user.games.each do |game| %>
      <%= game.name %><br>
    <% end %>
  </div>
<% end %>