<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HE" %></title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  </head>
  <body>
      <div id="left-pane">
        <!--Top Of Side Pane -->
        <div id="logo">
          <h3>
            <a class="brand" href="/">High<i class="icon-bolt is-electrified icon-bolt-he"></i>Energy</a>
          </h3>
        </div>
        <!-- Middle of Side Pane -->
        <div id="side-links">
          <div id="side-topics" class="side-content">
            <div class="side-header">
              <icon class="icon-list"></i>
              <%= link_to 'Topics', topics_path %>
            </div>
          </div>
          <div id="side-events" class="side-content">
            <div class="side-header">
              <i class="icon-calendar"></i> Events
            </div>
          </div>
          <div id="side-alerts" class="side-content">
            <div class="side-header">
              <i class="icon-exclamation-sign"></i> Alerts
            </div>
          </div>
          <div id="side-streams" class="side-content">
            <div class="side-header">
              <i class="icon-facetime-video"></i> Streams
            </div>
          </div>
          <div id="side-users" class="side-content">
            <div class="side-header">
              <i class="icon-group"></i> Users
            </div>
          </div>
        </div>
        <!-- Bottom of Side Pane -->
      </div>
      <!-- End Sidebar Pane -->

      <div id="main-pane">
        <%= yield %>
      </div>

      <div id="footer">
        footer
      </div>
  </body>
</html>
